.app {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 50px auto 50px;
    grid-template-areas:
        "header"
        "nav"
        "article"
        "footer";
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #751430;
    color: #ffffff;
}

nav {
    grid-area: nav;
    background-color: #751430;
}

article {
    grid-area: article;
    display: flex;
    justify-content: center;
    position: relative;
}

article .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

article .error {
    align-self: center;
    justify-self: center;
}

article .error {
    color: #751430;
}

footer {
    grid-area: footer;
    background-color: #f0f0f0;
    box-shadow: 0 -1px 7px 0 #c2c5cdbf;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

footer > div {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a, footer a:visited {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    height: 50px;
    padding: 0 15px 0 10px;
}

footer a:hover, footer a:focus {
    background-color: #e0e0e0;
}