.drop-up {
    cursor: pointer;
    position: relative;
}

.drop-up:focus {
    outline: none;
}

.drop-up.disabled {
    color: #707070;
}

.drop-up .selected-option {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px 0 15px;
}

.drop-up:hover .selected-option, .drop-up:focus .selected-option {
    background-color: #e0e0e0;
}

.drop-up ul.options {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 49px;
    left: 0;
    right: 0;
}

.drop-up ul.options > li {
    list-style: none;
    padding: 5px 14px;
    background-color: white;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.drop-up ul.options > li:first-child {
    border-top: 1px solid #e0e0e0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.drop-up ul.options > li:last-child {
    border-bottom: 1px solid #e0e0e0;
}

.drop-up ul.options > li:hover {
    background-color: #f0f0f0;
}

.drop-up ul.options > li.selected {
    background-color: #751430;
    border-color: #751430;
    color: white;
}